[class*="col-"] {
    /* debug */
    min-height: 40px;
    background-color: dodgerblue;
    border: solid 1px white;
}

.green {
    background-color: green;
    border: solid 1px black;
    margin: 10px;
}



.around-flex {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.between-flex {
    display: flex;
    justify-content: space-between;
    align-content: center;
}